.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - 72px);
  padding: 0 1.2rem;
  background-color: var(--main-bg-color);
}

.heroTitle {
  font-weight: 700;
}

.heroSubTitle {
  font-weight: 400;
}

.image {
  width: min(500px, 95vw);
}

.btnStart {
  font-size: 1.4rem;
  padding: 0.8rem 1rem;
  margin-top: 1rem;
  color: white;
  background-color: var(--concepts-colors);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}

.btnStart:hover {
  color: var(--concepts-colors);
  background-color: white;
  transform: scale(1.1);
}
